<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${article.getTitle()}"></title>
    <!--<meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!--<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}">
    <script th:src="@{/js/util.js}"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        body {
            color: #FFF5EB;
        }

        div.m8 {
            color: #212121;
        }

        p.createTime {
            font-size: medium;
        }

        textarea {
            /*resize: none;*/
            height: 200px;
        }

        .latch {
            margin-top: 80px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div th:replace="index::header"></div>
<div class="container">
    <div class="row">
        <div class="col m8 offset-m2">
            <div>
                <h3 th:text="${article.getTitle()}"></h3>
            </div>
            <div>
                <p class="flow-text createTime" th:text="${article.getCreateTime()}"></p>
                <input id="articleId" th:value="${article.getId()}" type="hidden"/>
            </div>
            <div>
                <p class="flow-text" th:text="${article.getContent()}"></p>
            </div>
            <!--<p th:text="点击红色按钮以创建评论" class="flow-text"></p>-->
            <div class="fixed-action-btn horizontal">
                <a id="commBtn" class="btn-floating btn-large red"
                   title="发表评论">
                    <i class="large material-icons">mode_edit</i>
                </a>
                <ul>
                    <li><a class="btn-floating blue" title="修改文章">
                        <i class="material-icons">mode_edit</i>
                    </a></li>
                </ul>
            </div>
            <div id="addCommDiv">
                <div class="divider latch"></div>
                <div>
                    <label for="creator">
                        昵称：<input id="creator" type="text"/>
                    </label>
                </div>
                <div>
                    <label for="email">
                        邮箱： <input type="email" id="email">
                    </label>
                </div>
                <div>
                    <label for="content">评论:
                        <textarea class="materialize-textarea" id="content"></textarea>
                    </label>
                </div>
                <div class="right">
                    <button class="btn waves-effect waves-light pull-s5"
                            id="sbmt">提交
                    </button>
                    <button class="btn waves-effect waves-light pull-s5"
                            type="reset" id="rst">重置
                    </button>
                </div>
            </div>
            <div class="divider latch"></div>
            <p th:text="评论" class="flow-text"></p>
            <div id="comments">
                <div class="commentsBoard" th:each="comment: ${article.getComments()}">
                    <div>
                        <div class="row">
                            <p th:text="${comment.getContent()}" class="flow-text"></p>
                        </div>
                        <div class="row">
                            <div class="right">
                                <a class="btn-floating btn red">
                                    <i class="material-icons">delete</i>
                                </a>
                                <input th:value="${comment.creator}" class="replyTo" type="hidden"/>
                                <a class="btn-floating btn red reply">
                                    <i class="material-icons">chat_bubble</i>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <p th:text="'@' + ${comment.getCreator()} + ' at '
                            + ${comment.getCreateTime()}" style="float: right;"></p>
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
        <div class="col m2 hide-on-med-and-down">

        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script th:src="@{/js/materialize.min.js}"></script>
<!--<script th:src="@{/js/util.js}"></script>-->
<script>
    $(document).ready(function () {
        $('#addCommDiv').hide();

        $('#commBtn').on('click', function () {
            $('#addCommDiv').toggle();
        });

        $('.reply').on('click', function () {
            var title = 'reply to: @' +
                $(this).siblings('input[class=replyTo]').val();
            console.log(title);
            $('#addCommDiv').show();
            $('#content').val(title);
        });
    });

    $('#sbmt').on('click', function () {
        var creator = $('#creator'), email = $('#email'),
            content = $('#content'), URL = '/addcomm',
            articleId = $('#articleId').val();
        // var token = $("meta[name='_csrf']").attr("content");
        // var header = $("meta[name='_csrf_header']").attr("content");
        if (!creator.text()) {
            creator.text('请输入昵称');
            return false;
        } else if (!email.text()) {
            email.text('请输入邮箱');
            return false;
        } else if (!content.text()) {
            content.text('请输入评论');
            return false;
        }
        mockFormKv(URL, "POST", {
            articleId: articleId, email: email.val(),
            content: content.val(), creator: creator.val()
            // , _csrf: token, _csrf_header: header});
        });
    })
</script>
</body>
</html>