<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>文章列表</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div th:replace="fragments::header_slim"></div>

<div class="container">
    <div class="row">
        <div id="listHolder" class="col m9 s12 flow-text">
            <div class="section">
                <h3 th:unless="${cateName}" th:text="#{|${meta}|}"></h3>
                <h3 th:if="${cateName}" class="metainf" th:text="${cateName}"></h3>
            </div>
            <div class="section">
                <div th:if="${articles.size() == 0}" class="section contentHolder flow-text black-text">
                    <p>啊哦，该分类暂时还没有文章</p>
                        <a th:href="@{/index}" class="deep-orange-text">返回主页</a>
                </div>
                <div class="articlesHolder" th:each="article: ${articles}">
                    <div class="section contentHolder">
                        <span th:replace="index :: stateIcons"></span>
                        <a th:href="@{'/article/' + ${article.getId()}}" class="black-text aTitles"
                           th:text="${article.getTitle()}"></a>
                        <a sec:authorize="hasRole('ADMIN')" class="modiState btn-flat right waves-effect waves-light">
                            <i class="material-icons">settings</i></a>
                        <span class="right hide-on-small-and-down" th:text="${article.getCreateTime()}"></span>
                        <input type="hidden" th:value="${article.getId()}">
                    </div>
                    <div class="divider"></div>
                </div>
            </div>
            <div id="pageHolder" th:if="${allPages.size() > 1}" class="right col m4 s4">
                <input th:value="${metaUrl}" type="hidden" id="metaUrl"/>
                <label for="pages">页码</label>
                <select id="pages" onchange="toPage(this)">
                    <option th:each="page : ${allPages}"
                            th:selected="${currentPage == page}"
                            th:text="${page}" class="pageNum"
                            th:value="${page - 1}">
                    </option>
                </select>
            </div>
        </div>
        <div class="col m2 hide-on-med-and-down" th:replace="fragments::sideBar">
        </div>
    </div>
</div>

<div th:replace="index::modal"></div>

<script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script>window.jQuery || document.write(unescape("%3Cscript src='/js/jquery.min.js' type='text/javascript'%3E%3C/script%3E"))</script>
<script th:src="@{/js/materialize.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/articles.js}"> </script>
</body>
</html>