<!DOCTYPE html>
<html lang="cn"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title th:text="${article.getTitle()}"></title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <style>
        p.createTime {
            font-size: medium;
        }

        textarea {
            height: 200px;
        }

        .latch {
            margin-top: 80px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div th:replace="fragments::header_slim"></div>
<div class="container">
    <div class="row">
        <div class="black-text col m10 s12 offset-m1">
            <div class="row">
                <p class="flow-text center-align" style="font-size: xx-large" th:text="${article.getTitle()}"></p>
            </div>
            <div class="row">
                <p class="flow-text right" style="font-size: medium" th:text="${article.getCategory()}"></p>
            </div>
            <div class="row">
                <p class="flow-text createTime right" th:text="${article.getCreateTime()}"></p>
                <input id="articleId" th:value="${article.getId()}" type="hidden"/>
            </div>
            <div class="row flow-text articleHolder">
                <p th:utext="${article.getContent()}"></p>
            </div>
            <div class="fixed-action-btn verticle">
                <a class="btn-floating green" title="menu">
                    <i class="material-icons large">menu</i>
                </a>
                <ul>
                    <li th:if="${article.getCommentEnable()}">
                        <a id="commBtn" class="btn-floating blue" title="发表评论"
                           th:if="${article.getState() == 1 || article.getState() == 2}">
                            <i class="material-icons">mode_edit</i> </a>
                    </li>
                    <li>
                        <a id="uphead" class="btn-floating yellow" title="返回顶部">
                            <i class="material-icons">call_merge</i> </a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')" th:fragment="editBtn">
                        <a class="stateBtn red" id="editBtn" title="修改文章">
                            <i class="material-icons">mode_edit</i>
                        </a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')" th:fragment="softDelBtn"
                        th:if="${article.getState() == 2 || article.getState() == 1}">
                        <a class="stateBtn yellow deleteBtn" title="删除文章">
                            <i class="material-icons">delete</i>
                        </a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')" th:fragment="softDelBtn"
                        th:if="${article.getState() == 1}">
                        <a class="stateBtn blue-grey hideBtn" title="隐藏文章">
                            <i class="material-icons">visibility_off</i>
                        </a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')" th:fragment="softDelBtn"
                        th:if="${article.getState() == 0}">
                        <a class="stateBtn blue-grey" id="uvpub" title="不可见发布文章">
                            <i class="material-icons">visibility_off</i>
                        </a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')" th:fragment="softDelBtn"
                        th:if="${article.getState() == 0}">
                        <a class="stateBtn blue-grey" id="vpub" title="可见发布文章">
                            <i class="material-icons">visibility</i>
                        </a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')"
                        th:if="${article.getState() == 2}">
                        <a class="stateBtn blue-grey showBtn" title="显示文章">
                            <i class="material-icons">visibility</i>
                        </a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')" th:fragment="hardDelBtn"
                        th:if="${article.getState() == 3}">
                        <a class="stateBtn red deleteBtn" title="彻底删除">
                            <i class="material-icons">delete_forever</i>
                        </a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')" th:fragment="recoverBtn"
                        th:if="${article.getState() == 3}">
                        <a class="stateBtn red" id="recoverBtn" title="恢复文章">
                            <i class="material-icons">restore</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row" th:if="${article.getCommentEnable()}">
                <div id="addCommDiv">
                    <div class="divider latch"></div>
                    <div>
                        <label for="creator">
                            昵称：<input id="creator" type="text"/>
                        </label>
                    </div>
                    <div>
                        <label for="email">
                            邮箱： <input type="email" id="email">
                        </label>
                    </div>
                    <div>
                        <label for="content">评论:
                            <textarea class="materialize-textarea" id="content"></textarea>
                        </label>
                    </div>
                    <div class="right">
                        <button class="waves-effect waves-light btn" id="sbmt">提交
                        </button>
                    </div>
                </div>
                <div class="divider latch"></div>
            </div>
            <div class="row">
                <p th:text="评论" class="flow-text"></p>
                <div id="comments">
                    <div class="commentsBoard" th:each="comment: ${article.getComments()}">
                        <div>
                            <div class="row">
                                <p th:text="${comment.getContent()}" class="flow-text contentHolder"></p>
                            </div>
                            <div class="row">
                                <div class="right">
                                    <a sec:authorize="hasRole('ADMIN')" class="btn-floating btn red delcomm">
                                        <i class="material-icons">delete</i>
                                    </a>
                                    <input th:value="${comment.creator}" class="replyTo" type="hidden"/>
                                    <a class="btn-floating btn red reply">
                                        <i class="material-icons">chat_bubble</i>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <p th:text="'@' + ${comment.getCreator()} + ' at '
                            + ${comment.getCreateTime()}" class="flow-text right"></p>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col m2 hide-on-med-and-down">

        </div>
    </div>
    <div th:replace="index::modal"></div>
</div>

<div th:replace="index::modal"></div>
<script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script>window.jQuery || document.write(unescape("%3Cscript src='/js/jquery.min.js' type='text/javascript'%3E%3C/script%3E"))</script>
<script th:src="@{/js/materialize.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/article.js}"></script>
</body>
</html>