<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${article.getTitle()}"></title>
    <!--<meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!--<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}">
    <script th:src="@{/js/util.js}"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        body {
            color: #FFF5EB;
        }

        div.m8 {
            color: #212121;
        }

        p.createTime {
            font-size: medium;
        }

        textarea {
            /*resize: none;*/
            height: 200px;
        }

        .latch {
            margin-top: 80px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div th:replace="index::header"></div>
<div class="container">
    <div class="row">
        <div class="col m8 offset-m2">
            <div class="row">
                <div>
                    <h3 class="center-align" th:text="${article.getTitle()}"></h3>
                </div>
            </div>
            <div class="row">
                <div>
                    <p class="flow-text createTime right" th:text="${article.getCreateTime()}"></p>
                    <input id="articleId" th:value="${article.getId()}" type="hidden"/>
                </div>
            </div>
            <div class="row flow-text articleHolder">
                <p th:utext="${article.getContent()}"></p>
            </div>
            <div class="fixed-action-btn horizontal">
                <a class="btn-floating btn-large red" title="menu">
                    <i class="material-icons large">menu</i>
                </a>
                <ul>
                    <li th:if="${article.getCommentEnable()}">
                        <a id="commBtn" class="btn-floating blue"
                           title="发表评论">
                            <i class="material-icons">mode_edit</i>
                        </a>
                    </li>
                    <li>
                        <a id="uphead" class="btn-floating yellow"
                           title="返回顶部">
                            <i class="material-icons">call_merge</i>
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating red" id="editBtn"
                           title="修改文章">
                            <i class="material-icons">mode_edit</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row" th:if="${article.getCommentEnable()}">
                <div id="addCommDiv">
                    <div class="divider latch"></div>
                    <div>
                        <label for="creator">
                            昵称：<input id="creator" type="text"/>
                        </label>
                    </div>
                    <div>
                        <label for="email">
                            邮箱： <input type="email" id="email">
                        </label>
                    </div>
                    <div>
                        <label for="content">评论:
                            <textarea class="materialize-textarea" id="content"></textarea>
                        </label>
                    </div>
                    <div class="right">
                        <button class="waves-effect waves-light btn" id="sbmt">提交
                        </button>
                    </div>
                </div>
                <div class="divider latch"></div>
            </div>
            <div class="row">
                <p th:text="评论" class="flow-text"></p>
                <div id="comments">
                    <div class="commentsBoard" th:each="comment: ${article.getComments()}">
                        <div>
                            <div class="row">
                                <p th:text="${comment.getContent()}" class="flow-text contentHolder"></p>
                            </div>
                            <div class="row">
                                <div class="right">
                                    <a class="btn-floating btn red delcomm">
                                        <i class="material-icons">delete</i>
                                    </a>
                                    <input th:value="${comment.creator}" class="replyTo" type="hidden"/>
                                    <a class="btn-floating btn red reply">
                                        <i class="material-icons">chat_bubble</i>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <p th:text="'@' + ${comment.getCreator()} + ' at '
                            + ${comment.getCreateTime()}" class="flow-text right"></p>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col m2 hide-on-med-and-down">

        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script th:src="@{/js/materialize.min.js}"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    $(document).ready(function () {
        var addCommDiv = $('#addCommDiv');
        addCommDiv.hide();

        $('#commBtn').on('click', function () {
            addCommDiv.toggle();
            $('#content').val("");
            $("html,body").animate({scrollTop: addCommDiv.offset().top}, 1000);
        });

        $('.reply').on('click', function () {
            var title = 'reply to: @' +
                $(this).siblings('input[class=replyTo]').val() + '   ';
            console.log(title);
            addCommDiv.show();
            $('#content').val(title);
            $("html,body").animate({scrollTop: addCommDiv.offset().top}, 1000);
        });

        $('#uphead').on('click', function () {
            $("html,body").animate({scrollTop:0},1000);
            return false;
        });

        $('.delcomm').on('click', function () {
            var delContent = $(this).parents('div[class=row]')
                .prev().find('p').text();
            console.log('delcomm : ' + delContent);
            mockFormKv('/delcomm', 'POST', {content: delContent, articleId: $('#articleId').val()});
        });

        $('#editBtn').on('click', function () {
            var articleId = $('#articleId').val();
            console.log('articleId : ' + articleId);
            mockFormKv('/article/edit/' + articleId, 'get', {});
        });
    });

    $('#sbmt').click(function () {
        var creator = $('#creator'), email = $('#email'),
            content = $('#content'), URL = '/addcomm',
            articleId = $('#articleId').val();
        // var token = $("meta[name='_csrf']").attr("content");
        // var header = $("meta[name='_csrf_header']").attr("content");
        // if (!creator.text()) {
        //     creator.text('请输入昵称');
        //     return false;
        // } else if (!email.text()) {
        //     email.text('请输入邮箱');
        //     return false;
        // } else if (!content.text()) {
        //     content.text('请输入评论');
        //     return false;
        // }
        mockFormKv(URL, "POST", {
            articleId: articleId, email: email.val(),
            content: content.val(), creator: creator.val()
            // , _csrf: token, _csrf_header: header});
        });
        return true;
    });
</script>
</body>
</html>