<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑页面</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="//cdn.ckeditor.com/4.11.4/full/ckeditor.js"></script>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <style>
        .btn {
            margin: 5%;
        }
    </style>
</head>
<body>
<div th:replace="fragments::header"></div>
<div class="container">
    <div class="row">
        <div class="col m10 s12">
            <div class="row">
                <div class="input-field">
                    <input placeholder="标题" type="text" id="aTitle"
                           th:value="${dto.getTitle()}">
                    <label for="aTitle">标题</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <textarea name="editor1"></textarea>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row" id="picHolder">
                <!--<div></div>-->
            </div>
            <div class="row" th:if="${error}">
                <div class="col s4 push-s4">
                    <p id="error" th:text="${error}"></p>
                </div>
            </div>
        </div>
        <div class="col m2 s12">
            <p>
                <input type="checkbox" id="commentEnable" checked="checked"/>
                <label for="commentEnable"> 允许评论 </label>
            </p>
            <p>
                <input type="checkbox" id="isPublished" checked="checked"/>
                <label for="isPublished"> 公开发布 </label>
            </p>
            <p>
                <input type="checkbox" id="finished"/>
                <label for="finished"> 草稿 </label>
            </p>
            <label for="categories">请选择分类</label>
            <select id="categories">
                <option th:each="category : ${categories}"
                        th:text="${category.getName()}"
                        th:value="${category.getName()}"></option>
            </select>

            <div class="row">
                <div class="section center-align">
                    <button class="btn btn-flat waves-effect brown-text slide-btn waves-light" type="submit" id="sbmt">提交文章</button>
                    <button class="btn btn-flat waves-effect brown-text slide-btn waves-light" type="reset" id="rst">重置内容</button>
                    <button class="btn btn-flat waves-effect brown-text slide-btn waves-light" id="saveDraft">保存草稿</button>
                    <input type="hidden" id="modSig" th:value="${modify}">
                    <input type="hidden" id="draftId">
                </div>
            </div>

            <div class="row">
                <form enctype="multipart/form-data">
                    <div class="file-field input-field">
                        <div class="btn btn-flat">
                            <span class="brown-text">文件</span>
                            <input id="pic" name="pic" type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path" type="text"/>
                        </div>
                        <div>
                            <a class="btn brown-text waves-effect waves-light btn-flat" id="submitPic">提交</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments::modal"></div>
<div th:replace="fragments::updown_btn"></div>

<script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script>window.jQuery || document.write(unescape("%3Cscript src='/js/jquery.min.js' type='text/javascript'%3E%3C/script%3E"))</script>
<script th:src="@{/js/materialize.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/edit.js}"> </script>
</body>
</html>