<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="header" class="grey darken-1">
    <div class="nav-wrapper">
        <a th:href="@{/index}" class="brand-logo show-on-small hide-on-med-and-up" th:text="#{nav.brand}"></a>
        <a th:href="@{/index}" style="margin-left: 5%" class="brand-logo left hide-on-small-and-down"
           th:text="#{nav.brand}"></a>
        <ul class="right hide-on-small-and-down flow-text" style="margin-right: 5%">
            <li><a class="nav-a right boardOrCate">SwitchIt!</a></li>
            <li><a th:text="#{nav.articles}" class="nav-a" th:href="@{/article}"></a></li>
            <li><a sec:authorize="hasRole('ADMIN')" class="dropdown-button nav-a"
                   data-beloworigin="true" href="#" data-activates="dropdown1">管理</a></li>
        </ul>
        <ul sec:authorize="hasRole('ADMIN')" id="dropdown1" class="dropdown-content">
            <li><a th:href="@{/edit/article}">发布文章</a></li>
            <li><a th:href="@{/draft}">草稿箱</a></li>
            <li><a th:href="@{/recycle}">回收站</a></li>
            <li><a th:href="@{/hidden}">未公开</a></li>
            <li><a href="#modal1" id="createCate">创建分类</a></li>
            <li><a class="logout">登出</a></li>
            <li><a th:href="@{/modiadmin}">修改密码</a></li>
        </ul>
    </div>
</nav>


<nav th:fragment="header_slim" class="grey darken-1">
    <div class="nav-wrapper">
        <a th:href="@{/index}" class="brand-logo show-on-small hide-on-med-and-up" th:text="#{nav.brand}"></a>
        <a th:href="@{/index}" style="margin-left: 5%" class="brand-logo left hide-on-small-and-down"
           th:text="#{nav.brand}"></a>
        <ul class="right hide-on-small-and-down flow-text" style="margin-right: 5%">
            <li><a th:text="#{nav.articles}" class="nav-a" th:href="@{/article}"></a></li>
            <li><a sec:authorize="hasRole('ADMIN')" class="dropdown-button nav-a"
                   data-beloworigin="true" href="#" data-activates="dropdown2">管理</a></li>
        </ul>
        <ul sec:authorize="hasRole('ADMIN')" id="dropdown2" class="dropdown-content">
            <li><a th:href="@{/edit/article}">发布文章</a></li>
            <li><a th:href="@{/draft}">草稿箱</a></li>
            <li><a th:href="@{/recycle}">回收站</a></li>
            <li><a th:href="@{/hidden}">未公开</a></li>
            <li><a th:href="@{/modiadmin}">修改密码</a></li>
        </ul>
    </div>
</nav>
<nav th:fragment="breadcrumb" class="grey darken-1">
    <div class="nav-wrapper">
        <div class="show-on-small flow-text hide-on-med-and-up">
            <a th:href="@{/index}" th:text="#{nav.brand}"></a>
            >
            <a th:href="@{${metaURL}}" th:text="${metaName}"></a>
            >
            <a th:text="${article.getTitle()}" th:href="${'/article/' + article.getId()}"></a>
        </div>
        <div class="hide-on-small-and-down flow-text left">
            <a th:href="@{/index}" th:text="#{nav.brand}"></a>
            >
            <a th:href="@{${metaURL}}" th:text="${metaName}"></a>
            >
            <a th:text="${article.getTitle()}" th:href="${'/article/' + article.getId()}"></a>
        </div>
        <ul class="right hide-on-small-and-down flow-text" style="margin-right: 5%">
            <li><a th:text="#{nav.articles}" class="nav-a" th:href="@{/article}"></a></li>
            <li><a sec:authorize="hasRole('ADMIN')" class="dropdown-button nav-a"
                   data-beloworigin="true" href="#" data-activates="dropdown3">管理</a></li>
        </ul>
        <ul sec:authorize="hasRole('ADMIN')" id="dropdown3" class="dropdown-content">
            <li><a th:href="@{/edit/article}">发布文章</a></li>
            <li><a th:href="@{/draft}">草稿箱</a></li>
            <li><a th:href="@{/recycle}">回收站</a></li>
            <li><a th:href="@{/hidden}">未公开</a></li>
            <li><a th:href="@{/modiadmin}">修改密码</a></li>
        </ul>
    </div>
</nav>

<nav th:fragment="header_much_slim" class="grey darken-1">
    <div class="nav-wrapper">
        <a th:href="@{/index}" class="brand-logo show-on-small hide-on-med-and-up" th:text="#{nav.brand}"></a>
        <a th:href="@{/index}" style="margin-left: 5%" class="brand-logo left hide-on-small-and-down"
           th:text="#{nav.brand}"></a>
        <ul class="right hide-on-small-and-down flow-text" style="margin-right: 5%">
            <li><a th:text="#{nav.articles}" class="nav-a" th:href="@{/article}"></a></li>
        </ul>
    </div>
</nav>
<div class="col m3 hide-on-small-and-down" style="padding: 5%" th:fragment="sideBar">
    <div class="row" id="sidebar">
        <div class="card z-depth-0 grey hoverable">
            <div class="card-image z-depth-0">
                <img th:src="@{/images/sample-6.jpg}">
            </div>
            <div class="card-content z-depth-0">
            </div>
            <div class="card-action z-depth-0">
                <a href="/pdf/myCv.pdf" class="brown-text flow-text">简历</a>
                <div sec:authorize="hasRole('ADMIN')" class="divider"></div>
                <a sec:authorize="hasRole('ADMIN')" class="brown-text" th:href="@{/modiadmin}">修改个人信息</a>
            </div>
        </div>
    </div>
</div>


<div class="fixed-action-btn" th:fragment="updown_btn">
    <a class="btn-floating red">
        <i class="material-icons">import_export</i>
    </a>
    <ul>
        <li><a class="btn-floating red up-btn"><i class="material-icons">arrow_upward</i></a></li>
        <li><a class="btn-floating yellow down-btn darken-1"><i class="material-icons">arrow_downward</i></a></li>
    </ul>
</div>
</body>
</html>