<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:fragment="searchBar" class="right s12 m4" th:action="@{/search}" method="post">
    <div class="input-field">
        <input id="search" type="search" name="title" placeholder="搜索标题" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
    </div>
</form>

<nav class="blue darken-3" th:fragment="header">
    <div class="nav-wrapper">
        <a th:href="@{/index}" style="margin-left: 5%" class="brand-logo left hide-on-small-and-down"
           th:text="${brand}"></a>
        <ul class="right hide-on-small-and-down flow-text" style="margin-right: 5%">
            <li><a sec:authorize="hasRole('ADMIN')" class="dropdown-button nav-a"
                   data-beloworigin="true" href="#" data-activates="dropdown1">管理</a></li>
        </ul>
        <ul sec:authorize="hasRole('ADMIN')" id="dropdown1" class="dropdown-content">
            <li><a th:href="@{/edit/article}">发布文章</a></li>
            <li><a th:href="@{/draft}">草稿箱</a></li>
            <li><a th:href="@{/recycle}">回收站</a></li>
            <li><a th:href="@{/hidden}">未公开</a></li>
            <li><a href="#modal1" id="createCate">创建分类</a></li>
            <li><a class="logout">登出</a></li>
            <li><a th:href="@{/modiadmin}">修改密码</a></li>
        </ul>
        <div th:replace="fragments::searchBar"></div>
    </div>
</nav>

<div id="modal1" class="modal" th:fragment="modal">
    <form th:action="@{/add/category}" th:method="POST" id="cateForm" enctype="multipart/form-data">
        <div class="modal-content">
            <h4>创建分类</h4>
            <div class="input-field">
                <label for="cateName" th:text="#{index.cate.cateName}"></label>
                <input th:placeholder="#{index.cate.placeholder}" type="text"
                       id="cateName" th:name="name">
            </div>
            <div class="input-field">
                <label for="cateDescription" th:text="#{index.cate.cateDescription}"></label>
                <input th:placeholder="#{index.cate.placeholder}" type="text"
                       id="cateDescription" th:name="description"/>
            </div>
            <div class="file-field input-field">
                <div class="btn">
                    <span>文件</span>
                    <input name="pic" type="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path" type="text"/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn wave-effect wave-light right" type="submit" th:text="#{button.submit}"></button>
        </div>
    </form>
</div>

<nav class="blue darken-3" th:fragment="breadcrumb">
    <div class="nav-wrapper">
        <div class="show-on-small flow-text hide-on-med-and-up">
            <a th:href="@{/index}" th:text="${brand}" class="crumb"></a>
            >
            <a th:href="@{${metaURL}}" th:text="${metaName}" class="crumb"></a>
            >
            <a th:text="${article.getTitle()}" th:href="${'/article/' + article.getId()}" class="crumb"></a>
        </div>
        <div class="hide-on-small-and-down flow-text left">
            <a th:href="@{/index}" th:text="#{nav.brand}"></a>
            >
            <a th:href="@{${metaURL}}" th:text="${metaName}"></a>
            >
            <a th:text="${article.getTitle()}" th:href="${'/article/' + article.getId()}"></a>
        </div>
        <ul class="right hide-on-small-and-down flow-text" style="margin-right: 5%">
            <li><a sec:authorize="hasRole('ADMIN')" class="dropdown-button nav-a"
                   data-beloworigin="true" href="#" data-activates="dropdown3">管理</a></li>
        </ul>
        <ul sec:authorize="hasRole('ADMIN')" id="dropdown3" class="dropdown-content">
            <li><a th:href="@{/edit/article}">发布文章</a></li>
            <li><a th:href="@{/draft}">草稿箱</a></li>
            <li><a th:href="@{/recycle}">回收站</a></li>
            <li><a th:href="@{/hidden}">未公开</a></li>
            <li><a th:href="@{/modiadmin}">修改密码</a></li>
        </ul>
    </div>
</nav>

<nav class="blue darken-3" th:fragment="header_much_slim">
    <div class="nav-wrapper">
        <a th:href="@{/index}" class="brand-logo show-on-small hide-on-med-and-up" th:text="${brand}"></a>
        <a th:href="@{/index}" style="margin-left: 5%" class="brand-logo left hide-on-small-and-down"
           th:text="#{nav.brand}"></a>
        <ul class="right hide-on-small-and-down flow-text" style="margin-right: 5%">
        </ul>
    </div>
</nav>

<div class="col m3 hide-on-small-and-down" style="padding: 5%" th:fragment="sideBar">
    <div class="row sidebar">
        <div class="card z-depth-0 hoverable">
            <div class="card-image z-depth-0">
                <img th:src="@{/images/sample-8.jpg}"/>
                <p class="center-align greeting-text" th:text="${greeting}"></p>
            </div>
            <div class="row center-align">
                <div class="col s5 offset-s1 statistic">
                    <p id="posts" th:text="${postedArticleNum}">12</p>
                    <a class="grey-text" th:href="@{/article}">posts</a>
                </div>
                <div class="col s5 statistic">
                    <p id="cate" th:text="${createdCategoryNum}">14</p>
                    <a class="grey-text boardOrCate" th:href="@{/category}">cate</a>
                </div>
            </div>
            <div class="row center-align">
                <div class="col s12">
                    <a class="grey-text" href="https://github.com/xHanJiao">Github</a>
                </div>
                <div class="col s12">
                    <a class="grey-text" href="mailto:3195573606@qq.com">电子邮箱</a>
                </div>
                <div class="col s12">
                    <a class="grey-text" th:href="@{/pdf/myCV.pdf}">我的简历</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="footBar">
    <div class="card horizontal grey lighten-3 z-depth-0">
        <div class="row">
            <div class="card-image col s6">
                <img th:src="@{/images/sample-8.jpg}"/>
            </div>
            <div class="card-stacked s6">
                <div class="card-content" style="line-height: 2em;">
                    <p class="greeting-text" style="word-break: keep-all" th:text="${greeting}"></p>
                    <div class="col s12">
                        <a class="left grey-text" href="https://github.com/xHanJiao">Github</a>
                    </div>
                    <div class="col s12">
                        <a class="left grey-text" href="mailto:3195573606@qq.com">Email</a>
                    </div>
                    <div class="col s12">
                        <a class="left grey-text" href="#">About me</a>
                    </div>
                    <div class="col s12">
                        <a class="left grey-text" href="/index">My Blog</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s5 offset-s1">
                        <span id="posts" th:text="${postedArticleNum}">12</span>
                        <a class="grey-text" th:href="@{/article}">post</a>
                    </div>
                    <div class="col s5">
                        <span id="cate" th:text="${createdCategoryNum}">14</span>
                        <a class="grey-text boardOrCate" th:href="@{/category}">cate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fixed-action-btn hide-on-small-and-down" th:fragment="updown_btn">
    <a class="btn-floating red">
        <i class="material-icons">import_export</i>
    </a>
    <ul>
        <li><a class="btn-floating red up-btn"><i class="material-icons">arrow_upward</i></a></li>
        <li><a class="btn-floating yellow down-btn darken-1"><i class="material-icons">arrow_downward</i></a></li>
    </ul>
</div>
</body>
</html>