<!DOCTYPE html>
<html lang="cn"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>小韩博客</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>
        a.flow-text {
            margin: 3%;
        }
    </style>
</head>
<body>
<nav th:fragment="header" class="brown darken-2">
    <div class="nav-wrapper">
        <a th:href="@{/index}" class="brand-logo show-on-small hide-on-med-and-up" th:text="#{nav.brand}"></a>
        <a th:href="@{/index}" style="margin-left: 5%" class="brand-logo left hide-on-small-and-down"
           th:text="#{nav.brand}"></a>
        <ul class="right hide-on-small-and-down flow-text" style="margin-right: 5%">
            <li><a class="nav-a right" style="font-size: x-large" th:href="@{/category}">分类浏览</a></li>
            <li><a th:text="#{nav.articles}" style="font-size: x-large" th:href="@{/article}"></a></li>
            <li><a sec:authorize="hasRole('ADMIN')" style="font-size: x-large;" class="dropdown-button"
                   data-beloworigin="true" href="#" data-activates="dropdown1">管理</a></li>
        </ul>
        <ul sec:authorize="hasRole('ADMIN')" id="dropdown1" class="dropdown-content">
            <li><a th:href="@{/edit/article}">发布文章</a></li>
            <li><a th:href="@{/draft}">草稿箱</a></li>
            <li><a th:href="@{/recycle}">回收站</a></li>
            <li><a th:href="@{/hidden}">未公开</a></li>
            <li><a href="#modal1">创建分类</a></li>
            <li><a th:href="@{/logout}">登出</a></li>
            <li><a th:href="@{/modiadmin}">修改密码</a></li>
        </ul>
    </div>
</nav>


<div class="container">
    <div class="row black-text">
        <div class="col m8 m8 hoverable" id="board" style="padding: 3%">
            <div class="section">
                <div>
                    <h3>
                        <a class="black-text" th:href="'/article/' + ${showBoard.getId()}"
                           th:text="${showBoard.getTitle()}"></a>
                    </h3>
                </div>
                <div style="margin-left: 3%">
                    <p class="flow-text" th:text="${showBoard.getContent()}"></p>
                </div>
            </div>
            <div class="divider"></div>
            <div><h5 class="flow-text">最新文章</h5></div>
            <div th:each="article: ${articles}">
                <div class="section">
                    <span>
                        <span th:fragment="stateIcons">
                            <i th:if="${article.getState()==0}" class="material-icons">drafts</i>
                            <i th:if="${article.getState()==1}" class="material-icons">visibility</i>
                            <i th:if="${article.getState()==2}" class="material-icons">visibility_off</i>
                            <i th:if="${article.getState()==3}" class="material-icons">delete</i>
                        </span>
                        <a class="flow-text black-text aTitles" th:href="'/article/' + ${article.getId()}"
                           th:text="${article.getTitle()}" th:name="${article.getId()}"></a>
                        <span class="flow-text right hide-on-small-and-down"
                              th:text="${article.getCreateTime()}"></span>
                    </span>
                </div>
                <div class="divider col s12"></div>
            </div>
            <div class="row">
                <div class="flow-text hide-on-med-and-up show-on-small right">
                    <a class="flow-text btn-inline black-text waves-effect waves-light" th:href="@{/category}">
                        分类浏览<i class="material-icons right">send</i></a>
                    <a class="flow-text btn-inline black-text waves-effect waves-light" th:href="@{/article}">
                        <i class="material-icons right">send</i>文章列表</a>
                </div>
            </div>
        </div>
        <div class="col m2 offset-m1 hide-on-small-and-down">
            <div class="row">
                <div class="m5 offset-m4 s5 offset-s4 hoverable">
                    <div class="card z-depth-0 orange lighten-3">
                        <div class="card-image z-depth-0">
                            <img th:src="@{/images/sample-2.jpg}">
                        </div>
                        <div class="card-content z-depth-0">
                            <p class="deep-orange-text">聂志钧</p>
                        </div>
                        <div class="card-action z-depth-0">
                            <a href="#" class="deep-orange-text">我的简历</a>
                            <div class="divider"></div>
                            <a sec:authorize="hasRole('ADMIN')" th:href="@{/modiadmin}">修改个人信息</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="divider"></div>
            </div>
            <div class="row">
                <div class="m5 offset-m4 s5 offset-s4 hoverable">
                    <ul class="section table-of-contents">
                        <li th:each="cate: ${allCate}" class="actualCate">
                            <a th:text="${cate.getName()}"
                               th:href="'/category/' + ${cate.getName()}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal1" class="modal" th:fragment="modal">
    <form th:action="@{/add/category}" th:method="POST" enctype="multipart/form-data">
        <div class="modal-content">
            <h4>创建分类</h4>
            <div class="input-field">
                <label for="cateName" th:text="#{index.cate.cateName}"></label>
                <input th:placeholder="#{index.cate.placeholder}" type="text"
                       id="cateName" th:name="name">
            </div>
            <div class="input-field">
                <label for="cateDescription" th:text="#{index.cate.cateDescription}"></label>
                <input th:placeholder="#{index.cate.placeholder}" type="text"
                       id="cateDescription" th:name="description"/>
            </div>
            <div class="file-field input-field">
                <div class="btn">
                    <span>文件</span>
                    <input name="pic" type="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path" type="text"/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn wave-effect wave-light right" type="submit" th:text="#{button.submit}"></button>
        </div>
    </form>
</div>

<script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.js"></script>
<script th:src="@{/js/materialize.min.js}"></script>
<script th:src="@{/js/util.js}"></script>

<script>
    $(document).ready(function () {
        $('#modal1').modal();
        $('select').material_select();
        truncateTextOfCertainClass('.aTitles', 8);
    });
</script>
</body>
</html>