<!DOCTYPE html>
<html lang="zh_CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>小韩博客</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <style>
        .flow-text {
            word-break: break-all;
        }

        .articleHolder {
            line-height: 2em;
            word-break: break-all;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div th:replace="fragments::header"></div>

<div class="container">
    <div class="row black-text">
        <div class="col m9 s12" id="board">
            <div id="titleListHolder">
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li class="titleLi z-depth-0" th:each="article: ${articles}">
                        <div class="collapsible-header" style="padding: 2%;">
                            <span th:text="${article.getCreateTime()}" class="createTimeHolder grey-text"
                                  style="font-size: 1em">
                                </span>
                            &nbsp;&nbsp;&nbsp;
                            <span sec:authorize="hasRole('ADMIN')" th:fragment="stateIcons" class="grey-text">
                                        <i th:if="${article.getState()==0}" class="material-icons">drafts</i>
                                        <i th:if="${article.getState()==1}" class="material-icons">visibility</i>
                                        <i th:if="${article.getState()==2}" class="material-icons">visibility_off</i>
                                        <i th:if="${article.getState()==3}" class="material-icons">delete</i>
                                    </span>
                            <a class="flow-text black-text aTitles" th:href="'/article/' + ${article.getId()}"
                               th:text="${article.getTitle()}" th:name="${article.getId()}"></a>
                        </div>
                        <div class="collapsible-body">
                            <p class="flow-text grey-text articleHolder" th:text="${article.getContent()}"></p>
                        </div>
                    </li>
                </ul>
                <div class="row">
                    <input id="currentPage" type="hidden" th:value="${currentPage}">
                    <div class="col s2 offset-s2">
                        <a id="prevPage" href="#" class="left btn btn-flat waves-effect waves-light green-text"> <i
                                class="material-icons">chevron_left</i></a>
                    </div>
                    <div class="col s2 offset-s4">
                        <a id="nextPage" href="#" class="right btn btn-flat waves-effect waves-light green-text"><i
                                class="material-icons">chevron_right</i></a>
                    </div>
                </div>
            </div>
            <div class="row flow-text hide-on-med-and-up show-on-small-and-down center-align bottomBtnHolder">
                <a class="flow-text btn-inline black-text waves-effect waves-light boardOrCate">SwitchIt!</a>
            </div>
            <div sec:authorize="hasRole('ADMIN')"
                 class="row flow-text hide-on-med-and-up show-on-small-and-down bottomBtnHolder">
                <a class="left flow-text btn-inline black-text waves-effect waves-light" th:href="@{/draft}">
                    草稿箱</a>
                <a class="right flow-text btn-inline black-text waves-effect waves-light" th:href="@{/recycle}">
                    回收站</a>
            </div>
            <div sec:authorize="hasRole('ADMIN')"
                 class="row flow-text hide-on-med-and-up show-on-small-and-down bottomBtnHolder">
                <a class="left flow-text btn-inline black-text waves-effect waves-light" th:href="@{/hidden}">
                    未公开</a>
                <a class="right flow-text btn-inline black-text waves-effect waves-light logout">
                    登出</a>
            </div>
        </div>
        <div class="col m2 hide-on-med-and-down" th:replace="fragments::sideBar">
        </div>
    </div>

    <div th:replace="fragments::updown_btn"></div>

    <div id="modal1" class="modal" th:fragment="modal">
        <form th:action="@{/add/category}" th:method="POST" id="cateForm" enctype="multipart/form-data">
            <div class="modal-content">
                <h4>创建分类</h4>
                <div class="input-field">
                    <label for="cateName" th:text="#{index.cate.cateName}"></label>
                    <input th:placeholder="#{index.cate.placeholder}" type="text"
                           id="cateName" th:name="name">
                </div>
                <div class="input-field">
                    <label for="cateDescription" th:text="#{index.cate.cateDescription}"></label>
                    <input th:placeholder="#{index.cate.placeholder}" type="text"
                           id="cateDescription" th:name="description"/>
                </div>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>文件</span>
                        <input name="pic" type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path" type="text"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn wave-effect wave-light right" type="submit" th:text="#{button.submit}"></button>
            </div>
        </form>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script>window.jQuery || document.write(unescape("%3Cscript src='/js/jquery.min.js' type='text/javascript'%3E%3C/script%3E"))</script>
<script th:src="@{/js/mousewheel.min.js}"></script>
<script th:src="@{/js/materialize.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>