<!DOCTYPE html>
<html lang="cn"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>小韩博客</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>
        body {
            color: #FFF5EB;
        }

        .section {
            color: #212121;
        }

        .aTitles {
            color: #212121;
            text-decoration: underline;
        }

        a.flow-text {
            font-size: large;
        }

        span.flow-text {
            font-size: large;
        }

        h5.flow-text {
            color: #212121;
        }
    </style>
</head>
<body>
<nav th:fragment="header" class="brown darken-2">
    <div class="nav-wrapper">
        <a th:href="@{/index}" style="margin-left: 5%" class="brand-logo" th:text="#{nav.brand}"></a>
        <ul class="right hide-on-med-and-down flow-text" style="margin-right: 5%">
            <li><a th:text="#{nav.articles}" style="font-size: x-large" th:href="@{/article}"></a></li>
            <li><a sec:authorize="hasRole('ADMIN')" style="font-size: x-large;" class="dropdown-button"
                   data-beloworigin="true"
                   href="#" data-activates="dropdown1">发布</a></li>
        </ul>
        <ul id="dropdown1" class="dropdown-content">
            <li><a th:href="@{/edit/article}">发布文章</a></li>
            <!--<a class="waves-effect waves-light btn" href="#modal1">模态</a>-->
            <li><a href="#modal1" id="publishCate">创建分类</a></li>
            <li><a href="#" id="publishNote">留言</a></li>
        </ul>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col m8">
            <div class="section">
                <div>
                    <h3>
                        <a class="aTitles" th:href="'/article/' + ${showBoard.getId()}"
                           th:text="${showBoard.getTitle()}"></a>
                    </h3>
                </div>
                <div style="margin-left: 3%">
                    <p class="flow-text" th:text="${showBoard.getContent()}"></p>
                </div>
            </div>
            <div class="divider"></div>
            <div><h5 class="flow-text">最新文章</h5></div>
            <div th:each="article: ${articles}">
                <div class="section">
                    <a class="flow-text aTitles" th:href="'/article/' + ${article.getId()}"
                       th:text="${article.getTitle()}" th:name="${article.getId()}"></a>
                    <!--<span class="right" style="float: right;" th:text="${article.getCreateTime()}"></span>-->
                    <span class="flow-text right" th:text="${article.getCreateTime()}"></span>
                </div>
                <div class="divider"></div>
            </div>
        </div>
        <div class="col m2 offset-m1 hide-on-med-and-down">
            <div class="row">
                <div class="m5 offset-m4 s5 offset-s4">
                    <div class="card z-depth-0.5">
                        <div class="card-image">
                            <img th:src="@{/images/sample-1.jpg}">
                            <span class="card-title" th:text="个人介绍"></span>
                        </div>
                        <div class="card-content">
                            <p class="flow-text" style="color: #212121;">聂志军</p>
                        </div>
                        <div class="card-action">
                            <a href="#">这是一个链接</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="m5 offset-m4 s5 offset-s4">
                    <ul>
                        <li th:each="cate: ${headCate}">
                            <a th:text="${cate.getName()}"
                               th:href="'/category/' + ${cate.getName()}"></a></li>
                        <li><a th:text="#{index.cate.toAll}"
                               href="#modal2"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal1" class="modal" th:fragment="modal">
    <form th:action="@{/add/category}" th:method="POST">
        <div class="modal-content">
            <h4>创建分类</h4>
            <div class="input-field">
                <label for="cateName" th:text="#{index.cate.cateName}"></label>
                <input th:placeholder="#{index.cate.placeholder}" type="text"
                       style="color: #212121;" id="cateName" th:name="name">
                <!--fixme 放到CSS中-->
            </div>
            <div class="input-field"><label for="cateDescription" th:text="#{index.cate.cateDescription}">
                </label>
                <input th:placeholder="#{index.cate.placeholder}" type="text"
                       style="color: #212121;" id="cateDescription" th:name="description"</div>
        </div>
        <div class="modal-footer">
            <button class="btn wave-effect wave-light right" type="submit" th:text="#{button.submit}"></button>
        </div>
    </form>
</div>

<div id="modal2" class="modal" th:fragment="modal">
        <div class="modal-content">
            <h4 style="color: #212121">创建分类</h4>
            <ul>
                <li th:each="cate: ${allCate}">
                    <a th:text="${cate.getName()}" style="color: #212121"
                       th:href="'/category/' + ${cate.getName()}"></a></li>
            </ul>
        </div>
</div>

<script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.js"></script>
<script th:src="@{/js/materialize.min.js}"></script>
<script>
    $(document).ready(function () {
        $('.modal').modal();
        $('select').material_select();
    });
</script>
</body>
</html>